@import "../../../styles/colors";
@import "../../../styles/style.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

.header{
    &-list{
        display: flex;
        justify-content: center;
        list-style:none;
        &-div{
            margin: auto 15px;
            background-color: #fff;
            padding: 1.1rem;
            border-radius: 11px;
            display: flex;
        }
    }
}