
@mixin container{
    max-width: 800px;
    width: 100%;
    display: block;    
    
}
@mixin line{
    width: 40%;
    display: block;
    margin: 10px auto;    
    border-bottom: 1px solid rgba(0, 0, 0, 0.479);  
}

@mixin centralizador{
    display: flex;
    flex-direction: column;
}

