@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100;200;300;400;500;600;700;800;900&display=swap');

.Home{
   height: 100%;
   
   &-h1{
      text-align: center;
      font-size: 60px;
      text-shadow: .1em .1em .2em rgba(255, 255, 255, 0.651);
      font-family: 'Gluten', cursive;
      font-weight: 300;
      margin: 25px 0 0px 0;
      color: #000;    
   }
}

