.bttn-excluir2{
    padding: .8rem 1.3rem .5rem 1.3rem;
    font-size: 15px;
    font-weight:bold;
    border: 2px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    transition: .2s ease-out;
    background-color: #fff;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.274);
    color: rgba(0, 0, 0, 0.842);
    justify-content: space-around;
    margin: 10px 45px;
    width: 110px;
}
.bttn-excluir2:hover{
    transform: scale(1.1);
}
.modal{
    border-radius: 4px;
}
.modal h2{
    padding: 3rem;
}