@import "../../../styles/colors";
@import "../../../styles/style.scss";

*{
    text-decoration: none;
}

.card{
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 2px solid $color-secundary;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.29);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.29);
    &-container{
        
        &-h2{
            padding: .7rem;
            font-size: 30px;
            color: $color-primary;
            display: block;
            margin: auto 100px;
        }
        &-h2{
            text-align: center;
        }
        &-prioridade{
            color: #000;
            text-align: center;
            font-family: 'Poppins', sans-serif;
        }
        &-descricao{
            color: #000;
            display: block;
            text-align: center;
            padding: 1rem;
        }
        &-p{
            font-family: 'Poppins', sans-serif;
            color: black;
            text-align: center;
        }
    }

}
.linha{
    @include line
}