@import "../../../styles/colors";
@import "../../../styles/style.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    text-decoration: none;
}
span{
    color: #000;
}
.card{
    border-radius:8px;
    border: 1px solid #c3c3c3;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.637);
    background-color: rgba(255, 255, 255, 0.856);
    width: 400px;
    max-height: 15rem;
    font-family: 'Poppins', sans-serif;
    margin: 0 3rem 3rem 7rem;
    &-container{
        display: block;
        flex-wrap: wrap;
        text-align: center;
        padding: 1rem;
        &-h2{
            color: #2c3e50;
            width: 100%;
            text-align: center;
            margin: 5px auto;
        }
        &-descricao{
            font-size: 18px;
            color: #000;
            margin: 10px auto;
        }
        &-group-text{
            display: flex;
            
            &-div{
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                &-baixa{
                    color: green;
                    width: 50%;  
                }
                &-media{
                    color: rgb(184, 184, 23);
                    width: 50%;   
                }
                &-alta{
                    color: rgb(221, 41, 41);
                    width: 50%;  
                }
            }
        }
        &-prioridade{
            color: #000;
            
            display: flex;
            flex-direction: column;    
        }
        &-p{
            color: #000;
            width: 50%;
        }
    }
   
       
    
}

.linha{
    @include line
}

@media (max-width: 1220px){
    .card{
        margin: 3rem auto;
        flex-wrap: wrap;
    }
}
@media (max-width: 400px){
    .card{
        max-height: none;
        &-container-group-text{
            display: block;
        }
    }
}