@import "../../../styles/colors";
@import "../../../styles/style.scss";

.footer{
    width: 100%;
    text-align: center;
    color: #ffffff;
    text-shadow: .1em .1em .2em rgba(0, 0, 0, 0.822);
    position: absolute;
    bottom: 1%;
    
}
