.App{
  min-height:100%;
  position: relative;
  background: rgb(2,0,36);
  background: linear-gradient(5deg, rgba(2,0,36,1) 0%, rgba(75,74,212,1) 1%, rgba(0,212,255,1) 100%);
  background-size: cover;
  display: flex;
  flex-direction: column; 
  width: 100%;
}

